// Shadow
@mixin vars-shadow() {
	--shadow-xs         : 0px 1px 2px rgba(16, 24, 40, 0.050);
	--shadow-xs-focused : 0px 1px 2px rgba(16, 24, 40, 0.050), 0px 0px 0px 4px rgba(244, 235, 255, 1);
	--shadow-sm         : 0px 1px 3px rgba(16, 24, 40, 0.100), 0px 1px 2px rgba(16, 24, 40, 0.060);
	--shadow-sm-focused : 0px 1px 3px rgba(16, 24, 40, 0.100), 0px 1px 2px rgba(16, 24, 40, 0.060), 0px 0px 0px 4px rgba(244, 235, 255, 1);
	--shadow-md         : 0px 4px 8px -2px rgba(16, 24, 40, 0.100), 0px 2px 4px -2px rgba(16, 24, 40, 0.060);
	--shadow-lg         : 0px 12px 16px -4px rgba(16, 24, 40, 0.080), 0px 4px 6px -2px rgba(16, 24, 40, 0.030);
	--shadow-xl         : 0px 20px 24px -4px rgba(16, 24, 40, 0.080), 0px 8px 8px -4px rgba(16, 24, 40, 0.030);
	--shadow-2-xl       : 0px 24px 48px -12px rgba(16, 24, 40, 0.180);
	--shadow-3-xl       : 0px 32px 64px -12px rgba(16, 24, 40, 0.140);
}
