@at-root {
	:root {
		--swiper-default-image-radius          : var(--border-radius);
		--swiper-default-main-radius           : var(--border-radius);
		--swiper-default-main-padding-mobile   : 10px;
		--swiper-default-main-padding-tablet   : 16px;
		--swiper-default-main-padding-desktop  : 24px;
		--swiper-default-main-position-mobile  : 10px;
		--swiper-default-main-position-tablet  : 15px;
		--swiper-default-main-position-desktop : 15px;
		--swiper-default-main-background       : rgba(255, 255, 255, .8);
		--swiper-default-main-blur             : var(--blur-lg);
	}
}

.swiper-default__item {
	position : relative;
}

.swiper-default__image {
	position : relative;
	z-index  : 1;

	img {
		width          : 100%;
		vertical-align : top;
		border-radius  : var(--swiper-default-image-radius);
	}
}

.swiper-default__main {
	position         : absolute;
	z-index          : 10;
	bottom           : var(--swiper-default-main-position-mobile);
	left             : var(--swiper-default-main-position-mobile);
	width            : auto;
	padding          : var(--swiper-default-main-padding-mobile);
	border-radius    : var(--swiper-default-main-radius);
	background-color : var(--swiper-default-main-background);
	backdrop-filter  : blur(var(--swiper-default-main-blur));
	@media screen and (min-width : $break-table) {
		bottom  : var(--swiper-default-main-position-tablet);
		left    : var(--swiper-default-main-position-tablet);
		padding : var(--swiper-default-main-padding-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		bottom  : var(--swiper-default-main-position-desktop);
		left    : var(--swiper-default-main-position-desktop);
		padding : var(--swiper-default-main-padding-desktop);
	}
}

.swiper-default__subtitle {
	margin-bottom : 5px;
}

.swiper-default__button {
	margin-top : 16px;
}

.swiper-default__pagination {
	display    : none;
	visibility : hidden;
	@media screen and (min-width : $break-table) {
		position   : absolute;
		z-index    : 400;
		right      : var(--swiper-default-main-position-tablet);
		bottom     : var(--swiper-default-main-position-tablet);
		display    : block;
		visibility : visible;
	}
	@media screen and (min-width : $break-desktop) {
		right  : var(--swiper-default-main-position-desktop);
		bottom : var(--swiper-default-main-position-desktop);
	}
}
