.feedback {

}

.feedback__img {
	margin-bottom : 24px;

	img {
		width          : 100%;
		vertical-align : top;
	}
}

.feedback__title {
	@include display-xs-bold;
	@media screen and (min-width : $break-table) {
		@include display-sm-bold;
	}
}

.feedback__desc {
	@include text-sm-normal;
	margin-top : 10px;
}

.feedback__form {
	margin-top : 24px;
}
