@at-root {
	:root {
		--filter-row-margin : 20px;
	}
}

body {
	.wpc-spinner:after {
		border-top-color : var(--primary-700, #6941C6);
	}

	.wpc-filters-main-wrap {
		--blog-aside-margin      : 20px;
		--blog-aside-title-color : var(--primary-700, #6941C6);


		// Title
		.wpc-filter-title {
			@extend .aside-section__title;
		}

		.wpc-filters-section {
			margin-top    : var(--filter-row-margin);
			margin-bottom : 0;

			&:first-child {
				margin-top : 0;
			}
		}

		.wpc-filters-ul-list {
			display                    : flex;
			overflow-y                 : auto;
			align-items                : flex-start;
			flex-flow                  : row wrap;
			justify-content            : flex-start;
			gap                        : 8px;
			-webkit-overflow-scrolling : touch;
			overscroll-behavior        : contain;

			&.wpc-filters-radio {
				overflow : visible !important;
			}

			&--full-size {
				justify-content : stretch;
			}

			.overflowscrolling &:not(.wpc-filters-radio) {
				overflow-y : scroll;
			}
		}

		.wpc-radio-item {
			overflow : hidden;
			margin   : -5px;
			padding  : 5px;
		}

		input[type="search"].wpc-search-field {
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration {
				display : none;
			}
		}

		.select2 {
			width : 100% !important;
		}

		.wpc-filters-section:not(.wpc-filter-more-less):not(.wpc-filter-post_meta_num):not(.wpc-filter-tax_numeric):not(.wpc-filter-layout-dropdown) .wpc-filter-content:not(.wpc-filter-has-hierarchy) ul.wpc-filters-ul-list {
			margin-left  : -10px;
			padding-left : 10px;
		}

		.wpc-filter-collapsible .wpc-filter-title .wpc-open-icon, .wpc-filter-collapsible-reverse.wpc-filter-collapsible.wpc-closed .wpc-filter-title .wpc-open-icon, .wpc-filter-collapsible.wpc-closed .wpc-filter-title .wpc-open-icon, .wpc-filter-has-selected.wpc-closed .wpc-filter-title .wpc-open-icon {
			width            : 8px;
			height           : 8px;
			transform-origin : 20% 53%;
		}

		.wpc-posts-found {
			&--hidden {
				display    : none;
				visibility : hidden;

				+ div {
					margin-top : 0;
				}
			}
		}

		.wpc-inner-widget-chips-wrapper {
			overflow : visible;
		}

		.wpc-widget-top-inside {
			overflow : visible;
		}

		.wpc-filter-chips-list {
			display         : flex;
			align-items     : stretch;
			flex-flow       : row wrap;
			justify-content : flex-start;
			margin          : 0;
			padding         : 0;
			list-style      : none;
			gap             : 8px;

			li.wpc-filter-chip {
				font-size : var(--body-font-size);
				margin    : 0;
			}
		}

		.filter-apply-button {
			display         : flex;
			flex-flow       : row nowrap;
			justify-content : space-between;
			gap             : 8px;

			button.wpc-filters-submit-button,
			a.wpc-filters-submit-button {
				@extend .b-btn !optional;
				@extend .b-btn--primary !optional;
			}

			button.wpc-filters-reset-button,
			a.wpc-filters-reset-button {
				@extend .b-btn !optional;
				@extend .b-btn--secondary-grey !optional;
			}
		}
	}

	.wpc-sorting-form {
		.select2 {
			width : 100% !important;
		}

		select {
			width : 100%;
		}
	}

	ul.filter-terms-chips,
	.filter-terms {
		display         : flex;
		align-items     : flex-start;
		flex-flow       : row wrap;
		justify-content : flex-start;
		margin          : 0;
		padding         : 0;
		gap             : 6px;
	}

	ul.filter-terms-chips {
		margin        : -5px;
		margin-bottom : var(--filter-row-margin);
		padding       : 5px;

		&.wpc-empty-chips-container,
		&:empty,
		&--empty {
			display       : none;
			margin-bottom : 0;
		}
	}

	.filter-terms-chips__item,
	.filter-terms__item {
		display         : inline-flex;
		align-items     : flex-start;
		flex-flow       : row nowrap;
		justify-content : flex-start;
		margin          : 0;

		&.wpc-term-selected {

		}
	}

	.filter-terms__label {
		position : relative;
		overflow : hidden;

		a {
			text-decoration : none;
		}

		input {
			position                    : absolute;
			top                         : 0;
			left                        : -30px;
			width                       : 1px;
			height                      : 1px;
			outline                     : 0;
			-webkit-tap-highlight-color : transparent;
		}
	}

	.wpc-filters-open-button-container {
		@media screen and (max-width : $break-desktop-max) {
			display : block;
		}
	}

	.wpc-open-close-filters-button {
		@extend .b-btn !optional;
		@extend .b-btn--secondary-grey !optional;
		@extend .b-btn--full-size !optional;
	}

	&.wpc_show_open_close_button .blog-filter .wpc-filters-widget-content:not(.wpc-opened) {
		display : none;

		@media screen and (min-width : 769px) {
			display : none !important;
		}
		@media screen and (min-width : $break-desktop) {
			display : block !important;
		}
	}

	.wpc-checkbox-item {
		.wpc-term-count {
			font-size   : 0;
			line-height : 0;
			opacity     : 1;
		}

		.wpc-term-count-value {
			@extend .b-badges;
			@extend .b-badges--gray;
		}
	}

	.wpc-term-swatch-wrapper {
		border-radius : 4px;
	}

	.wpc-filters-range-inputs {
		.ui-slider-horizontal {
			height     : 8px;
			background : var(--gray-200, #EAECF0);

			.ui-slider-range {
				border-radius : 6px;
				background    : var(--primary-600, #7F56D9);
			}

			.ui-slider-handle {
				top           : -9px;
				width         : 24px;
				height        : 24px;
				border        : 1.5px solid var(--primary-600, #7F56D9);
				border-radius : 12px;
				background    : var(--base-white, #FFF);
			}
		}
	}
}
