.woocommerce-account-grid {
	display               : grid;
	gap                   : 24px 0;
	grid-template-columns : auto;
	@media screen and (min-width : $break-table) {
		gap                   : 24px;
		grid-template-columns : 300px 1fr;
	}
}

.woocommerce-account-menu__select {
	width : 100%;
	@media screen and (min-width : $break-table) {
		display    : none;
		visibility : hidden;
	}
}

.woocommerce-account-menu.aside-menu {
	display    : none;
	visibility : hidden;
	@media screen and (min-width : $break-table) {
		display    : flex;
		visibility : visible;
	}
}

.woocommerce-column__title,
.woocommerce-account-grid__title {
	@include display-xs-semibold;
	margin-top    : 0;
	margin-bottom : 16px;
	@media screen and (min-width : $break-table) {
		margin-bottom : 24px;
	}
}

.woocommerce-customer-details,
.woocommerce-order-details {
	margin-top  : 24px;
	padding-top : 24px;
	border-top  : 1px solid var(--border-color);
}

.woocommerce-account-address__header {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	margin-bottom   : 12px;
	gap             : 6px 12px;
	@media screen and (min-width : $break-table) {
		align-items     : center;
		flex-flow       : row nowrap;
		justify-content : space-between;
	}
}

.woocommerce-account-address__title {
	@include text-md-semibold;
	margin : 0;
}

.woocommerce-account-address__address {
	display       : block;
	padding       : 24px;
	border        : 1px dashed var(--border-color);
	border-radius : 6px;
	background    : var(--gray-50);
	@include text-sm-normal;
}
