.woocommerce-product__price-block {
	display         : flex;
	align-items     : center;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	margin-top      : 12px;
	gap             : 10px;
	@media screen and (max-width : (421 - 0.02) * 1px) {
		align-items     : stretch;
		flex-flow       : column nowrap;
		justify-content : flex-start;
	}

	.wcboost-products-compare-button {
		@extend .b-btn !optional;
		margin : 0;

		&:not(.added) {
			@extend .b-btn--secondary-grey !optional;
		}

		&.added {
			@extend .b-btn--primary !optional;
		}
	}

	&:not(.woocommerce-product__price-block--variable):not(.woocommerce-product__price-block--grouped) {
		.wcboost-products-compare-button {
			@extend .b-btn--icon !optional;
			@media screen and (max-width : (421 - 0.02) * 1px) {
				width : 100%;
			}
			@media screen and (min-width : 421px) {

				.wcboost-products-compare-button__text {
					display    : none;
					visibility : hidden;
				}
			}
		}
	}

	&--variable,
	&--grouped {
		display : block;

		.wcboost-products-compare-button {
			width : 100%;
		}

		@media screen and (max-width : $product-breakpoint-max) {
			align-items     : stretch;
			flex-flow       : column nowrap;
			justify-content : flex-start;
		}
	}
}

.woocommerce-product__price {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	margin          : 24px 0;
	@media screen and (min-width : $break-table) {
		margin : 30px 0;
	}
	@media screen and (min-width : $break-desktop) {
		margin : 40px 0;
	}
	@media screen and (max-width : $product-breakpoint-max) {
		&:last-child {
			margin-bottom : 0;
		}
	}

	bdi,
	ins {
		order           : 0;
		text-decoration : none;
		color           : var(--primary-700);
		@include display-md-normal;
	}

	del {
		order : 1;
		color : var(--gray-500);

		bdi {
			@include text-md-normal;
			color : var(--gray-500);
		}
	}

	&--variable,
	&--grouped {
		@include display-xs-semibold;
		display         : flex;
		align-items     : center;
		flex-flow       : row nowrap;
		justify-content : flex-start;
		color           : var(--primary-700);
		gap             : 4px;
	}
}


.woocommerce-product-add-to-cart {
	display         : flex;
	align-items     : flex-start;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	gap             : 6px;
}

.woocommerce-product-add-to-cart__quantity {
	max-width : 150px;

	select,
	input {
		width         : 100%;
		text-align    : center;
		border-right  : 0;
		border-left   : 0;
		border-radius : 0;
	}

	input[type="number"] {
		padding-right   : 5px;
		padding-left    : 5px;
		-moz-appearance : textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			margin             : 0;
			-webkit-appearance : none;
		}
	}
}

form.grouped_form {
	margin-top           : 14px;
	margin-bottom        : 14px;
	--form-margin-bottom : 0;

	table {
		width         : 100%;
		margin-bottom : 14px;
	}

	td {
		padding-top    : 10px;
		padding-bottom : 10px;
		vertical-align : middle;

		&:first-child {
			padding-left : 0;
		}

		&:last-child {
			padding-right : 0;
		}


	}
}

.woocommerce-grouped-product-list-item__quantity {
	width      : 130px;
	text-align : center;
}

.woocommerce-grouped-product-list-item__label {
	label {
		@include text-sm-medium;
		display : block;

		a {
			text-decoration : none;

			&:hover {
				text-decoration : underline;
			}
		}
	}
}

.woocommerce-variation-price,
.woocommerce-grouped-product-list-item__price {
	color : var(--gray-500);


	ins {
		text-decoration : none;
	}

	del {
		@include text-xs-medium;

		bdi {
			color : var(--gray-500);
		}
	}

	bdi {
		text-decoration : none;
		color           : var(--primary-700);
	}
}

.woocommerce-variation-price {
	@include text-xl-medium;
}

.woocommerce-grouped-product-list-item__price {
	text-align : right;
	@include text-sm-medium;
}

form.variations_form {
	margin : 24px 0;

	table.variations {
		tr {
			display        : flex;
			flex-direction : column;
			gap            : 10px;

			&:not(:last-child) {
				margin-bottom : 10px;
			}
		}

		th,
		td {
			padding    : 0;
			text-align : initial;
		}

		label {
			@include text-sm-medium;
			display       : block;
			margin-bottom : 0;
		}

		select {
			width     : 100%;
			max-width : 100%;
		}

		.single_variation {
			display : none;
		}
	}

	.reset_variations {
		margin-top    : 6px;
		margin-bottom : 6px;
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--secondary !optional;
	}

	.single_variation,
	form.variations_form .wc-no-matching-variations {
		margin-bottom : 1.5em;
	}
}

.woocommerce-variation-description {
	margin-top    : 12px;
	margin-bottom : 12px;
	@include text-sm-normal;
}

.wc-block-cart-items__row {
	.wc-block-components-product-name {
		font-weight     : 600;
		text-decoration : none;
	}
}

.wp-block-woocommerce-empty-cart-block {
	.wc-block-cart__empty-cart__title {
		color : var(--primary-800, rgba(83, 56, 158, 1));
	}

	.wp-block-separator {
		display : none;
	}

	.wp-block-heading:not(.wc-block-cart__empty-cart__title) {
		@extend .section__head;
	}
}
