.woocommerce-form-register__submit,
.woocommerce-form-login__submit {
	min-width : 180px;
}

.woocommerce-privacy-policy-text {
	@include text-sm-normal;
	grid-column : span 4;
}

.woocommerce-form-grid__box {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	box-sizing      : border-box;
	height          : 100%;
	padding         : 24px;
	border          : 1px dashed var(--gray-300);
	border-radius   : 8px;
}

.woocommerce-form-grid__title {
	@include display-xs-semibold;
	margin-bottom : 16px;
	@media screen and (min-width : $break-table) {
		@include display-sm-semibold;
		margin-bottom : 24px;
	}
}

.woocommerce-form-grid {
	display               : grid;
	gap                   : 24px;
	grid-template-columns : repeat(auto-fit, minmax(350px, 1fr));
}
