.header-cart {
	position : relative;
}

.header-cart__button {
	position : relative;
}

.header-cart__count {
	position : absolute;
	top      : -5px;
	right    : -5px;

	&--hidden {
		display : none;
	}
}
