@at-root {
	:root {
		--woocommerce-items-sale-top                 : 15px;
		--woocommerce-items-sale-right               : 15px;

		--woocommerce-items-image-margin-mobile      : 0 0 12px;
		--woocommerce-items-image-margin-tablet      : 0 0 12px;
		--woocommerce-items-image-margin-desktop     : 0 0 12px;
		--woocommerce-items-image-radius             : 0;
		--woocommerce-items-image-background         : var(--gray-10);
		--woocommerce-items-image-min-height         : 200px;
		--woocommerce-items-image-max-height         : 335px;
		--woocommerce-items-image-offeset-mobile     : 16px;
		--woocommerce-items-image-offeset-tablet     : 20px;
		--woocommerce-items-image-offeset-desktop    : 25px;
		--woocommerce-items-image-hover-transition   : height .3s var(--easing);
		--woocommerce-items-image-hover-size         : 70%;

		--woocommerce-items-price-margin-mobile      : 6px 0 0;
		--woocommerce-items-price-margin-tablet      : 6px 0 0;
		--woocommerce-items-price-margin-desktop     : 6px 0 0;
		--woocommerce-items-price-color              : var(--gray-700);
		--woocommerce-items-price-old-color          : var(--gray-300);
		--woocommerce-items-price-gap                : 6px;

		--woocommerce-items-price-mark-content       : "";
		--woocommerce-items-price-mark-color         : var(--yellow-100);
		--woocommerce-items-price-mark-size          : 5px;
		--woocommerce-items-price-mark-offset        : 4px;

		--woocommerce-items-bottom-padding-mobile    : 12px 0 0;
		--woocommerce-items-bottom-padding-tablet    : 16px 0 0;
		--woocommerce-items-bottom-padding-desktop   : 20px 0 0;

		--woocommerce-items-star-offset              : 15px;
		--woocommerce-items-star-font-size           : 12px;
		--woocommerce-items-star-position            : absolute;
		--woocommerce-items-star-padding             : 2px 5px;
		--woocommerce-items-star-background          : var(--base-white);
		--woocommerce-items-star-radius              : 12px;
		--woocommerce-items-star-color               : var(--primary-800);

		--woocommerce-items-compare-offset           : 15px;
		--woocommerce-items-compare-size             : 26px;
		--woocommerce-items-compare-position         : absolute;
		--woocommerce-items-compare-radius           : var(--border-radius-small);
		--woocommerce-items-compare-transition       : color .3s var(--easing), background .3s var(--easing);
		--woocommerce-items-compare-background       : var(--base-white);
		--woocommerce-items-compare-color            : var(--primary-800);
		--woocommerce-items-compare-background-hover : var(--gray-100);
		--woocommerce-items-compare-color-hover      : var(--primary-900);
		--woocommerce-items-compare-background-added : var(--primary-700);
		--woocommerce-items-compare-color-added      : var(--base-white);
	}
}

.woocommerce-loop-product {
	position        : relative;
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;

	.star-rating__box {
		font-size     : var(--woocommerce-items-star-font-size);
		line-height   : 1;
		position      : var(--woocommerce-items-star-position);
		z-index       : 20;
		top           : var(--woocommerce-items-star-offset);
		left          : var(--woocommerce-items-star-offset);
		display       : block;
		padding       : var(--woocommerce-items-star-padding);
		color         : var(--woocommerce-items-star-color);
		border-radius : var(--woocommerce-items-star-radius);
		background    : var(--woocommerce-items-star-background);
	}

	.wcboost-products-compare-button {
		position        : absolute;
		z-index         : 10;
		top             : calc(var(--woocommerce-items-compare-offset) - 4px);
		right           : var(--woocommerce-items-compare-offset);
		display         : flex;
		align-items     : center;
		flex-flow       : row nowrap;
		justify-content : center;
		width           : var(--woocommerce-items-compare-size);
		height          : var(--woocommerce-items-compare-size);
		margin          : 0 !important;
		padding         : 0;
		cursor          : pointer;
		transition      : var(--woocommerce-items-compare-transition);
		color           : var(--woocommerce-items-compare-color);
		border-radius   : var(--woocommerce-items-compare-radius);
		background      : var(--woocommerce-items-compare-background);

		svg {
			display : block;
			width   : calc(var(--woocommerce-items-compare-size) - 6px);
			height  : calc(var(--woocommerce-items-compare-size) - 6px);
		}

		.wcboost-products-compare-button__text {
			@include hide-text;
		}

		&:hover {
			color      : var(--woocommerce-items-compare-color-hover);
			background : var(--woocommerce-items-compare-background-hover);
		}

		&.added {
			color      : var(--woocommerce-items-compare-color-added);
			background : var(--woocommerce-items-compare-background-added);
		}

		&::after {
			content  : "";
			position : absolute;
			top      : -10px;
			right    : -10px;
			bottom   : 0;
			left     : 0;
		}
	}
}

.woocommerce-loop-product__link {
	position        : relative;
	display         : block;
	text-decoration : none;

	&:hover {
		.woocommerce-loop-product__image {
			&::after {
				height : var(--woocommerce-category-image-hover-size);
			}
		}
	}
}

.woocommerce-item__sale {
	position : absolute;
	z-index  : 10;
	top      : var(--woocommerce-items-sale-top);
	right    : var(--woocommerce-items-sale-right);
}

.woocommerce-loop-product__image {
	position : relative;
	z-index  : 1;
	margin   : var(--woocommerce-items-image-margin-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--woocommerce-items-image-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--woocommerce-items-image-margin-desktop);
	}

	&::after {
		content    : "";
		position   : absolute;
		right      : 0;
		bottom     : 0;
		left       : 0;
		height     : 100%;
		transition : var(--woocommerce-items-image-hover-transition);
		background : var(--woocommerce-items-image-background);
	}

	img {
		position       : relative;
		z-index        : 10;
		box-sizing     : border-box;
		width          : 100%;
		height         : var(--woocommerce-items-image-min-height);
		padding        : var(--woocommerce-items-image-offeset-mobile);
		vertical-align : top;
		border-radius  : var(--woocommerce-items-image-radius);
		object-fit     : contain;
		@media screen and (min-width : $break-table) {
			padding : var(--woocommerce-items-image-offeset-tablet);
		}
		@media screen and (min-width : $break-desktop) {
			padding : var(--woocommerce-items-image-offeset-desktop);
		}

		@media (min-width : $break-table) {
			height : calc(var(--woocommerce-items-image-min-height) + ((var(--woocommerce-items-image-max-height) - var(--woocommerce-items-image-min-height)) * (100vw - $break-table) / $break-table));
		}
		@media (min-width : $product-breakpoint) {
			height : var(--woocommerce-items-image-max-height);
		}
	}
}

.woocommerce-loop-product__title {
	@include text-md-normal;
	margin : 0;
}

.woocommerce-loop-product__price {
	display         : flex;
	align-items     : flex-end;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	margin          : var(--woocommerce-items-price-margin-mobile);
	color           : var(--woocommerce-items-price-color);
	gap             : var(--woocommerce-items-price-gap);
	@include text-md-normal;
	@media screen and (min-width : $break-table) {
		margin : var(--woocommerce-items-price-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--woocommerce-items-price-margin-desktop);
	}

	.woocommerce-Price-amount {
		position       : relative;
		display        : inline-block;
		vertical-align : top;

		&::after {
			content               : var(--woocommerce-items-price-mark-content);
			position              : absolute;
			z-index               : 1;
			right                 : 0;
			bottom                : var(--woocommerce-items-price-mark-offset);
			left                  : 0;
			height                : var(--woocommerce-items-price-mark-size);
			background            : var(--woocommerce-items-price-mark-color);
			background-blend-mode : normal;
		}

		bdi {
			position : relative;
			z-index  : 2;
		}
	}

	del {
		@include text-sm-normal;
		margin-bottom : 1.5px;
		color         : var(--woocommerce-items-price-old-color);

		.woocommerce-Price-amount {
			text-decoration : line-through;

			&:after {
				content : none;
			}
		}
	}

	ins {
		text-decoration : none;
	}
}

.woocommerce-loop-product__button {
	margin-top : auto;
	padding    : var(--woocommerce-items-bottom-padding-mobile);
	@media screen and (min-width : $break-table) {
		padding : var(--woocommerce-items-bottom-padding-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		padding : var(--woocommerce-items-bottom-padding-desktop);
	}

	.added_to_cart {
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--secondary-grey !optional;
	}

	.add_to_cart_button {
		&.added {
			display : none;
		}
	}
}
