@at-root {
	:root {
		--woocommerce-page-gap-mobile            : 24px;
		--woocommerce-page-gap-tablet            : 24px;
		--woocommerce-page-gap-desktop           : 32px;
		--woocommerce-page-margin-mobile         : 32px auto 0;
		--woocommerce-page-margin-tablet         : 44px auto 0;
		--woocommerce-page-margin-desktop        : 44px auto 0;

		--woocommerce-page-aside-width           : 280px;
		--woocommerce-page-main-width            : 872px;

		--woocommerce-page-chips-margin-mobile   : 0 0 12px;
		--woocommerce-page-chips-margin-tablet   : 0 0 12px;
		--woocommerce-page-chips-margin-desktop  : 0 0 12px;
		--woocommerce-page-chips-padding-mobile  : 0 0 12px;
		--woocommerce-page-chips-padding-tablet  : 0 0 12px;
		--woocommerce-page-chips-padding-desktop : 0 0 12px;
	}
}

.woocommerce-page {

}

.woocommerce-page__grid {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	margin          : var(--woocommerce-page-margin-mobile);
	gap             : var(--woocommerce-page-gap-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--woocommerce-page-margin-tablet);
		gap    : var(--woocommerce-page-gap-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		display         : flex;
		align-items     : flex-start;
		flex-flow       : row nowrap;
		justify-content : space-between;
		margin          : var(--woocommerce-page-margin-desktop);
		gap             : var(--woocommerce-page-gap-desktop);
	}
}

.woocommerce-page__aside {
	order : 0;
	@media screen and (min-width : $break-desktop) {
		flex  : 0 0 auto;
		width : var(--woocommerce-page-aside-width);
	}
}

.woocommerce-page__main {
	flex  : 1 1 auto;
	order : 1;
	@media screen and (min-width : $break-desktop) {
		max-width : var(--woocommerce-page-main-width);
	}
}

.woocommerce-page__aside-top {
	.filter-terms-chips {
		margin  : var(--woocommerce-page-chips-margin-mobile);
		padding : var(--woocommerce-page-chips-padding-mobile);
		@media screen and (min-width : $break-table) {
			margin  : var(--woocommerce-page-chips-margin-tablet);
			padding : var(--woocommerce-page-chips-padding-tablet);
		}
		@media screen and (min-width : $break-desktop) {
			margin  : var(--woocommerce-page-chips-margin-desktop);
			padding : var(--woocommerce-page-chips-padding-desktop);
		}
	}
}
