@at-root {
	:root {
		--woocommerce-product-form-margin-mobile  : 24px 0 0;
		--woocommerce-product-form-margin-tablet  : 40px 0 0;
		--woocommerce-product-form-margin-desktop : 40px 0 0;

		--woocommerce-product-form-title-color    : var(--body-color);
	}
}

.woocommerce-product-form {
	padding : var(--woocommerce-product-form-margin-mobile);
	@media screen and (min-width : $break-table) {
		padding : var(--woocommerce-product-form-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		padding : var(--woocommerce-product-form-margin-desktop);
	}
}

.woocommerce-product-form__title {

}

.woocommerce-product-form__form {
	.comment-form-email,
	.comment-form-author {
		grid-column : span 2;
	}
}
