@use "sass:math";

.woocommerce-relative-slider {
	overflow : hidden;

	.swiper {
		margin : 0 calc(-1 * var(--swiper-gap));
	}

	.swiper-slide {
		width : math.div(100, 2) * 1%;
		@media screen and (min-width : 721px) {
			width : math.div(100, 3) * 1%;
		}
		@media screen and (min-width : $break-desktop) {
			width : math.div(100, 4) * 1%;
		}

		.woocommerce-loop-product {
			padding : 0 var(--swiper-gap);
		}
	}
}
