<footer class="footer">
    <div class="wrapper">
        <div class="footer__line">
            <div class="footer__coop">
                {{ footer.coop }}
            </div>
            <div class="footer__list">
                <a href="privacy.html" class="footer__link">{{ footer.privacy }}</a>
            </div>
            <a href="https://rhino-digital.com/" target="_blank" rel="nofollow" class="footer__link">{{ footer.made }}</a>
        </div>
    </div>
</footer>
