<ul>
	<li{% if menuHome %} class="active"{% endif %}>
		<a href="index.html">
			<span>Главная</span>
		</a>
	</li>
	<li{% if menuContacts %} class="active"{% endif %}>
		<a href="contacts.html">
			<span>Контакты</span>
		</a>
	</li>
</ul>