<div class="s-block">
	<a href="#" class="s-block__tw" target="_blank" rel="noopener nofollow">
		Мы в Twitter
	</a>
	<a href="#" class="s-block__tl" target="_blank" rel="noopener nofollow">
		Мы в Telegram
	</a>
</div>