// Breakpoints
$break-desktop          : 1081px;
$break-desktop-max      : (1081 - 0.02) * 1px;
$break-table            : 681px;
$break-table-max        : (681 - 0.02) * 1px;
$product-breakpoint     : 981px;
$product-breakpoint-max : (981 - 0.02) * 1px;
