@at-root {
	:root {
		--widget-partners-slider-gap     : 6px;
		--widget-partners-slider-columns : calc((100 / 5) * 1%);
	}
}

.widget-partners-slider {
	position : relative;
}

.widget-partners-slider__pagination {

}

.widget-partners-slider__wrapper {
	overflow : hidden;
	margin   : var(--widget-partners-slider-gap) calc(var(--widget-partners-slider-gap) * -1) calc(var(--widget-partners-slider-gap) * -1);
	padding  : var(--widget-partners-slider-gap);
	cursor   : pointer;

	> .swiper {
		overflow : visible;
		margin   : 0 calc(var(--widget-partners-slider-gap) * -1);
		padding  : var(--widget-partners-slider-gap) 0;
	}

	.swiper-wrapper {
		align-items : center;
	}

	.swiper-slide {
		width : var(--widget-partners-slider-columns);
	}
}

.widget-partners-slider__item {
	display         : block;
	box-sizing      : border-box;
	padding         : 0 var(--woocommerce-product-thumbs-gap);
	text-align      : center;
	text-decoration : none;

	img {
		vertical-align : top;
	}
}
