@at-root {
	:root {
		--blog-header-padding-mobile     : 32px 0;
		--blog-header-padding-table      : 64px 0;
		--blog-header-padding-desktop    : 96px 0;
		--blog-header-background         : var(--gray-10);

		--blog-header-meta-margin        : 0 0 12px;
		--blog-header-meta-color         : var(--purple-600);

		--blog-header-title-margin       : 0;
		--blog-header-title-color        : var(--gray-900);

		--blog-header-description-margin : 24px 0 0;
		--blog-header-description-color  : var(--gray-900);
	}
}

.blog-page-header {
	padding    : var(--blog-header-padding-mobile);
	background : var(--blog-header-background);
	@media screen and (min-width : $break-table) {
		padding : var(--blog-header-padding-table);
	}
	@media screen and (min-width : $break-desktop) {
		padding : var(--blog-header-padding-desktop);
	}
}

.blog-page-header__meta {
	@include text-sm-semibold;
	margin : var(--blog-header-meta-margin);
	color  : var(--blog-header-meta-color);
}

.blog-page-header__title {
	margin : var(--blog-header-title-margin);
	color  : var(--blog-header-title-color);
	@include display-md-semibold;
	@media screen and (min-width : $break-table) {
		@include display-lg-semibold;
	}
}

.blog-page-header__description {
	margin-top : var(--blog-header-description-margin);
	color      : var(--blog-header-description-color);
	@include text-lg-normal;
	@media screen and (min-width : $break-table) {
		@include text-xl-normal;
	}
	@media screen and (min-width : $break-desktop) {

	}
}
