@at-root {
	:root {
		--blog-page-gap-mobile         : 24px;
		--blog-page-gap-table          : 24px;
		--blog-page-gap-desktop        : 32px;

		--blog-page-margin-top-mobile  : 32px;
		--blog-page-margin-top-table   : 44px;
		--blog-page-margin-top-desktop : 44px;

		--blog-page-aside-width        : 280px;
		--blog-page-content-width      : 872px;
	}
}

.blog-page {

}

.blog-page__main {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	margin-top      : var(--blog-page-margin-top-mobile);
	gap             : var(--blog-page-gap-mobile);
	@media screen and (min-width : $break-table) {
		margin-top : var(--blog-page-margin-top-table);
		gap        : var(--blog-page-gap-table);
	}
	@media screen and (min-width : $break-desktop) {
		display         : flex;
		align-items     : flex-start;
		flex-flow       : row nowrap;
		justify-content : space-between;
		margin-top      : var(--blog-page-margin-top-desktop);
		gap             : var(--blog-page-gap-desktop);
	}
}

.blog-page__aside {
	order : 0;
	@media screen and (min-width : $break-table) {

	}
	@media screen and (min-width : $break-desktop) {
		flex  : 0 0 auto;
		width : var(--blog-page-aside-width);
	}
}

.blog-page__content {
	flex  : 1 1 auto;
	order : 1;
	@media screen and (min-width : $break-table) {

	}
	@media screen and (min-width : $break-desktop) {
		max-width : var(--blog-page-content-width);
	}
}
