@at-root {
	:root {
		--blog-post-thumbnail-margin-mobile  : 0 0 24px;
		--blog-post-thumbnail-margin-table   : 0 0 32px;
		--blog-post-thumbnail-margin-desktop : 0 0 32px;
		--blog-post-thumbnail-radius         : 0;

		--blog-post-category-margin-mobile   : 0 0 16px;
		--blog-post-category-margin-table    : 0 0 16px;
		--blog-post-category-margin-desktop  : 0 0 16px;
		--blog-post-category-padding-mobile  : 4px;
		--blog-post-category-padding-table   : 4px;
		--blog-post-category-padding-desktop : 4px;
		--blog-post-category-gap             : 4px 8px;
		--blog-post-category-radius          : 16px;
		--blog-post-category-background      : var(--primary-50, #F9F5FF);

		--blog-post-title-margin             : 0 0 8px;
		--blog-post-title-color              : var(--gray-900, #101828);
		--blog-post-title-trasition          : color .3s var(--easing);

		--blog-post-description-color        : var(--gray-600, #475467);

		--blog-post-meta-padding-mobile      : 16px 0 0;
		--blog-post-meta-padding-table       : 24px 0 0;
		--blog-post-meta-padding-desktop     : 24px 0 0;
	}
}

.blog-post {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
}

.blog-post__thumbnail {
	display : block;
	margin  : var(--blog-post-thumbnail-margin-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--blog-post-thumbnail-margin-table);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--blog-post-thumbnail-margin-desktop);
	}

	img {
		display        : block;
		width          : 100%;
		vertical-align : top;
		border-radius  : var(--blog-post-thumbnail-radius);
	}
}

.blog-post__category {
	display         : inline-flex;
	align-items     : stretch;
	align-self      : flex-start;
	flex-flow       : row wrap;
	justify-content : flex-start;
	margin          : var(--blog-post-category-margin-mobile);
	padding         : var(--blog-post-category-padding-mobile);
	border-radius   : var(--blog-post-category-radius);
	background      : var(--blog-post-category-background);
	gap             : var(--blog-post-category-gap);
	mix-blend-mode  : multiply;
	@media screen and (min-width : $break-table) {
		margin  : var(--blog-post-category-margin-table);
		padding : var(--blog-post-category-padding-table);
	}
	@media screen and (min-width : $break-desktop) {
		margin  : var(--blog-post-category-margin-desktop);
		padding : var(--blog-post-category-padding-desktop);
	}

	> div {
		@include tag-list-item;

		&:has(.post-categories) {
			display : contents;
		}
	}

	.post-categories {
		margin : 0;
		@include tag-list;

		a {
			@include tag-list-item;

			&:hover {
				@include tag-list-item-hover;
			}
		}
	}
}

.blog-post__title {
	margin : var(--blog-post-title-margin);
	color  : var(--blog-post-title-color);
	@include text-xl-medium;
	@media screen and (min-width : $break-table) {
		@include display-xs-medium;
	}

	a {
		transition      : var(--blog-post-title-trasition);
		text-decoration : none;
		color           : var(--blog-post-title-color);

		&:hover {
			color : var(--link-color-hover);
		}
	}
}

.blog-post__description {
	color : var(--blog-post-description-color);
	@include text-md-normal;
}

.blog-post__meta {
	margin-top : auto;
	padding    : var(--blog-post-meta-padding-mobile);
	@media screen and (min-width : $break-table) {
		padding : var(--blog-post-meta-padding-table);
	}
	@media screen and (min-width : $break-desktop) {
		padding : var(--blog-post-meta-padding-desktop);
	}
}
