@at-root {
	:root {
		// Main config
		--badges-font-weight           : 500;
		--badges-line-height           : 1.25;
		--badges-border-width          : 1px;
		--badges-padding               : 0 6px;
		--badges-padding-icon          : 3px;
		--badges-font-size             : 12px;
		--badges-border-radius         : 16px;
		--badges-transition            : background .3s var(--easing), color .3s var(--easing), border-color .3s var(--easing), box-shadow .3s var(--easing);
		--badges-height                : 22px;
		--badges-gap                   : 6px;

		// Size
		// ====
		// MD
		--badges-padding-md            : 0 8px;
		--badges-padding-icon-md       : 4px;
		--badges-font-size-md          : 14px;
		--badges-height-md             : 24px;
		--badges-gap-md                : 6px;

		// Lg
		--badges-padding-lg            : 0px 12px;
		--badges-padding-icon-lg       : 6px;
		--badges-font-size-lg          : 14px;
		--badges-height-lg             : 28px;
		--badges-gap-lg                : 6px;

		// Gray
		--badges-gray-color            : var(--gray-700, #344054);
		--badges-gray-border           : var(--gray-100, #F2F4F7);
		--badges-gray-background       : var(--gray-100, #F2F4F7);

		// Primary
		--badges-primary-color         : var(--primary-700, #6941C6);
		--badges-primary-border        : var(--primary-50, #F9F5FF);
		--badges-primary-background    : var(--primary-50, #F9F5FF);

		// Error
		--badges-error-color           : var(--error-700, #B42318);
		--badges-error-border          : var(--error-50, #FEF3F2);
		--badges-error-background      : var(--error-50, #FEF3F2);

		// Wraning
		--badges-wraning-color         : var(--warning-700, #B54708);
		--badges-wraning-border        : var(--warning-50, #FFFAEB);
		--badges-wraning-background    : var(--warning-50, #FFFAEB);

		// Blue Light
		--badges-blue-light-color      : var(--blue-light-700, #026AA2);
		--badges-blue-light-border     : var(--blue-light-50, #F0F9FF);
		--badges-blue-light-background : var(--blue-light-50, #F0F9FF);

		// Blue
		--badges-blue-color            : var(--blue-700, #175CD3);
		--badges-blue-border           : var(--blue-50, #EFF8FF);
		--badges-bluet-background      : var(--blue-50, #EFF8FF);
	}

}

// -----------------------------------------------
//  Badges style
// -----------------------------------------------

.b-badges {
	font-size       : var(--badges-font-size);
	font-weight     : var(--badges-font-weight);
	line-height     : var(--badges-line-height);
	position        : relative;
	display         : inline-flex;
	align-items     : center;
	flex-flow       : row nowrap;
	justify-content : center;
	box-sizing      : border-box;
	min-width       : var(--badges-height);
	height          : var(--badges-height);
	padding         : var(--badges-padding);
	cursor          : pointer;
	user-select     : none;
	transition      : var(--badges-transition);
	text-align      : center;
	vertical-align  : middle;
	white-space     : nowrap;
	text-decoration : none;
	border          : var(--badges-border-width) solid transparent;
	border-radius   : var(--badges-border-radius);
	box-shadow      : var(--badges-shadow);
	gap             : var(--badges-gap);

	> svg {
		display : block;
		flex    : 0 0 auto;
	}

	// Icon
	&--icon {
		width   : var(--badges-height);
		height  : var(--badges-height);
		padding : var(--badges-padding-icon);
	}

	// SIZE
	&--md {
		font-size  : var(--badges-font-size-md);
		min-height : var(--badges-height-md);
		padding    : var(--badges-padding-md);
		gap        : var(--badges-gap-md);

		// Icon
		&--icon {
			width   : var(--badges-height-md);
			height  : var(--badges-height-md);
			padding : var(--badges-padding-icon-md);
		}
	}

	&--lg {
		font-size  : var(--badges-font-size-xl);
		min-height : var(--badges-height-xl);
		padding    : var(--badges-padding-xl);
		gap        : var(--badges-gap-xl);

		// Icon
		&--icon {
			width   : var(--badges-height-xl);
			height  : var(--badges-height-xl);
			padding : var(--badges-padding-icon-xl);
		}
	}

	// COLOR
	// Gray
	&--gray {
		color            : var(--badges-gray-color);
		border-color     : var(--badges-gray-border);
		background-color : var(--badges-gray-background);
	}

	// Primary
	&--primary {
		color            : var(--badges-primary-color);
		border-color     : var(--badges-primary-border);
		background-color : var(--badges-primary-background);
	}

	// Primary
	&--primary-dark {
		color            : var(--badges-primary-background);
		border-color     : var(--badges-primary-border);
		background-color : var(--badges-primary-color);
	}

	// Error
	&--error {
		color            : var(--badges-error-color);
		border-color     : var(--badges-error-border);
		background-color : var(--badges-error-background);
	}

	// Wraning
	&--wraning-grey {
		color            : var(--badges-wraning-grey-color);
		border-color     : var(--badges-wraning-grey-border);
		background-color : var(--badges-wraning-grey-background);
	}

	// Blue Light
	&--blue-light {
		color            : var(--badges-blue-light-color);
		border-color     : var(--badges-blue-light-border);
		background-color : var(--badges-blue-light-background);
	}

	// Blue
	&--blue {
		color            : var(--badges-blue-color);
		border-color     : var(--badges-blue-border);
		background-color : var(--badges-blue-background);
	}

	// LOADING
	&--loading {
		&::before {
			content          : "";
			display          : inline-block;
			width            : 12px;
			height           : 12px;
			margin-right     : 10px;
			margin-left      : -15px;
			transition       : border .3s ease;
			animation        : loadingSpin 1s infinite linear;
			vertical-align   : middle;
			border           : 3px solid rgba(var(--badges-loading-color, 0.6));
			border-top-color : var(--badges-loading-color);
			border-radius    : 50%;
		}
	}

	// FULL-SIZE
	&--full-size {
		display : flex;
		width   : 100%;
	}
}

.b-badges-grouping {
	display : inline-flex;

	.b-badges {
		margin-right  : 0;
		border-radius : 0;

		&:first-child {
			border-radius : var(--badges-border-radius) 0 0 var(--badges-border-radius);
		}

		&:last-child {
			border-radius : 0 var(--badges-border-radius) var(--badges-border-radius) 0;
		}
	}

	&--outline {
		.b-badges {
			z-index     : 1;
			margin-left : -1px;

			&:hover {
				z-index : 2;
			}

			&.active {
				z-index : 3;
			}

			&:first-child {
				margin-left : 0;
			}
		}
	}
}

// Future-proof disabling of clicks on `<a>` elements
a.b-badges.disabled,
fieldset[disabled] a.b-badges {
	pointer-events : none;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.full-size {
		width : 100%;
	}
}
