@at-root {
	:root {
		--alert-padding            : 16px;
		--alert-border-radius      : 8px;
		--alert-gap                : 12px;
		--alert-color              : var(--primary-700, #6941C6);
		--alert-background         : var(--primary-25, #FCFAFF);
		--alert-border             : 1px solid var(--primary-300, #D6BBFB);
		--alert-size               : 14px;
		--alert-line-height        : 1.3;

		// Gray
		--alert-color-gray         : var(--gray-600, #475467);
		--alert-background-gray    : var(--gray-25, #FCFCFD);
		--alert-border-gray        : 1px solid var(--gray-300, #D0D5DD);

		// Error
		--alert-color-error        : var(--error-700, #B42318);
		--alert-background-error   : var(--error-25, #FFFBFA);
		--alert-border-error       : 1px solid var(--error-300, #FDA29B);

		// Warning
		--alert-color-warning      : var(--warning-700, #B54708);
		--alert-background-warning : var(--warning-25, #FFFCF5);
		--alert-border-warning     : 1px solid var(--warning-300, #FEC84B);

		// Success
		--alert-color-success      : var(--success-700, #027A48);
		--alert-background-success : var(--success-25, #F6FEF9);
		--alert-border-success     : 1px solid var(--success-300, #6CE9A6);
	}

}

.box-alert {
	font-size       : var(--alert-size);
	line-height     : var(--alert-line-height);
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	padding         : var(--alert-padding);
	color           : var(--alert-color);
	border          : var(--alert-border);
	border-radius   : var(--alert-border-radius);
	background      : var(--alert-background);
	gap             : var(--alert-gap);

	&--gray {
		color      : var(--alert-color-gray);
		border     : var(--alert-border-gray);
		background : var(--alert-background-gray);
	}

	&--error {
		color      : var(--alert-color-error);
		border     : var(--alert-border-error);
		background : var(--alert-background-error);
	}

	&--warning {
		color      : var(--alert-color-warning);
		border     : var(--alert-border-warning);
		background : var(--alert-background-warning);
	}

	&--success {
		color      : var(--alert-color-success);
		border     : var(--alert-border-success);
		background : var(--alert-background-success);
	}


	&--marign-bottom {
		margin-bottom : 24px;
	}
}

.box-alert__title {
	font-weight : 600;
}
