@at-root {
	:root {
		--breadcrumb-margin                 : 0 0 12px;
		--breadcrumb-gap-mobile             : 4px 6px;
		--breadcrumb-gap-desktop            : 4px 12px;
		--breadcrumb-item-gap-mobile        : 6px;
		--breadcrumb-item-gap-tablet        : 8px;
		--breadcrumb-item-gap-desktop       : 12px;
		--breadcrumb-item-link-color        : var(--gray-600);
		--breadcrumb-item-link-color-hover  : var(--primary-700);
		--breadcrumb-item-link-color-active : var(--primary-700);
		--breadcrumb-item-delimiter-color   : var(--gray--300);
	}
}

.breadcrumb {
	display         : flex;
	align-items     : center;
	flex-flow       : row wrap;
	justify-content : flex-start;
	margin          : var(--breadcrumb-margin);
	padding         : 0;
	list-style      : none;
	gap             : var(--breadcrumb-gap-mobile);
	@media screen and (min-width : $break-table) {
		gap : var(--breadcrumb-gap-desktop);
	}
}

.breadcrumb__item {
	@include text-md-medium;
	display         : inline-flex;
	align-items     : center;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	gap             : var(--breadcrumb-item-gap-mobile);
	@media screen and (min-width : $break-table) {
		gap : var(--breadcrumb-item-gap-tablete);
	}
	@media screen and (min-width : $break-desktop) {
		gap : var(--breadcrumb-item-gap-desktop);
	}
}

.breadcrumb__link {
	display         : block;
	transition      : color .3s ease;
	text-decoration : none;
	color           : var(--breadcrumb-item-link-color);

	&:hover {
		color : var(--breadcrumb-item-link-color-hover);
	}

	svg {
		display : block;
	}
}

.breadcrumb__delimiter {
	flex  : 0 0 auto;
	color : var(--breadcrumb-item-delimiter-color);
}
