.checkbox-switch {
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        position : absolute;
    }

    label {
        cursor: pointer;
        display: block;
        width: 36px;
        height: 20px;
        border-radius: 60px;
        border: 1px solid var(--base-white-10, rgba(255, 255, 255, 0.10));
        background: var(--base-white-10, rgba(255, 255, 255, 0.10));
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 16px;
        height: 16px;
        background: var(--violet-500, #7B6EE2);
        border-radius: 50%;
        transition: left 0.3s;
    }

    input:checked + label {
        background: var(--brand-700, #DA0D76);
        border-color: var(--brand-700, #DA0D76);
    }

    input:checked + label:after {
        left: calc(100% - 18px);
        background: var(--base-white, #7B6EE2);
    }
}
