@at-root {
	:root {
		--comment-respond-margin-mobile     : 24px 0 0;
		--comment-respond-margin-tablet     : 24px 0 0;
		--comment-respond-margin-desktop    : 24px 0 0;

		--comment-list-margin-mobile        : 24px 0;
		--comment-list-margin-tablet        : 24px 0;
		--comment-list-margin-desktop       : 24px 0;
		--comment-list-padding-mobile       : 0 0 0 20px;
		--comment-list-padding-tablet       : 0 0 0 30px;
		--comment-list-padding-desktop      : 0 0 0 40px;

		--comment-list-meta-margin-mobile   : 0 0 12px 0;
		--comment-list-meta-margin-tablet   : 0 0 12px 0;
		--comment-list-meta-margin-desktop  : 0 0 12px 0;
		--comment-list-meta-padding-mobile  : 0 0 12px 0;
		--comment-list-meta-padding-tablet  : 0 0 12px 0;
		--comment-list-meta-padding-desktop : 0 0 12px 0;
		--comment-list-meta-gap-mobile      : 8px;
		--comment-list-meta-gap-tablet      : 8px;
		--comment-list-meta-gap-desktop     : 8px;
		--comment-list-meta-border          : 1px solid var(--gray-200, #EAECF0);

		--comment-list-avatar-size-mobile   : 40px;
		--comment-list-avatar-size-tablet   : 40px;
		--comment-list-avatar-size-desktop  : 40px;
		--comment-list-avatar-radius        : 50%;

		--comment-list-title-color          : var(--body-color);

		--comment-list-data-gap-mobile      : 8px;
		--comment-list-data-gap-tablet      : 8px;
		--comment-list-data-gap-desktop     : 8px;

		--comment-list-content-color        : var(--body-color);

		--comment-form-title-margin-mobile  : 0 0 12px;
		--comment-form-title-margin-tablet  : 0 0 12px;
		--comment-form-title-margin-desktop : 0 0 12px;
		--comment-form-title-color          : var(--body-color);
		--comment-form-title-gap-mobile     : 8px;
		--comment-form-title-gap-tablet     : 8px;
		--comment-form-title-gap-desktop    : 8px;
	}
}

.comment-respond {
	margin : var(--comment-respond-margin-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--comment-respond-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--comment-respond-margin-desktop);
	}
}

.comment-list {
	margin     : 0;
	padding    : 0;
	list-style : none;

	ol,
	ul {
		margin  : var(--comment-list-margin-mobile);
		padding : var(--comment-list-padding-mobile);
		@media screen and (min-width : $break-table) {
			margin  : var(--comment-list-margin-tablet);
			padding : var(--comment-list-padding-tablet);
		}
		@media screen and (min-width : $break-desktop) {
			margin  : var(--comment-list-margin-desktop);
			padding : var(--comment-list-padding-desktop);
		}
	}
}

.comment-list__item {
	margin : var(--comment-list-margin-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--comment-list-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--comment-list-margin-desktop);
	}
}

.comment-list__meta {
	display         : flex;
	align-items     : center;
	flex-flow       : row wrap;
	justify-content : flex-start;
	margin          : var(--comment-list-meta-margin-mobile);
	padding         : var(--comment-list-meta-padding-mobile);
	border-bottom   : var(--comment-list-meta-border);
	gap             : var(--comment-list-meta-gap-mobile);
	@media screen and (min-width : $break-table) {
		flex-flow : row nowrap;
		margin    : var(--comment-list-meta-margin-table);
		padding   : var(--comment-list-meta-paddingn-table);
		gap       : var(--comment-list-meta-gap-table);
	}
	@media screen and (min-width : $break-desktop) {
		margin  : var(--comment-list-meta-margin-desktop);
		padding : var(--comment-list-meta-padding-desktop);
		gap     : var(--comment-list-meta-gap-desktop);
	}
}

.comment-list__avatar {
	width : var(--comment-list-avatar-size-mobile);
	@media screen and (min-width : $break-table) {
		width : var(--comment-list-avatar-size-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		width : var(--comment-list-avatar-size-desktop);
	}

	img {
		width           : var(--comment-list-avatar-size-mobile);
		height          : var(--comment-list-avatar-size-mobile);
		vertical-align  : top;
		border-radius   : 50%;
		background-size : cover;
		@media screen and (min-width : $break-table) {
			width  : var(--comment-list-avatar-size-tablet);
			height : var(--comment-list-avatar-size-tablet);
		}
		@media screen and (min-width : $break-desktop) {
			width  : var(--comment-list-avatar-size-desktop);
			height : var(--comment-list-avatar-size-desktop);
		}
	}
}

.comment-list__title {
	@include text-md-semibold;
	margin : 0;
	color  : var(--comment-list-title-color);

	a {
		text-decoration : none;
		color           : var(--comment-list-title-color);
	}
}

.comment-list__data {
	display         : flex;
	align-items     : center;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	width           : 100%;
	gap             : var(--comment-list-data-gap-mobile);
	@media screen and (min-width : $break-table) {
		gap : var(--comment-list-data-gap-tablet);
	}
	@media screen and (min-width : $break-table) {
		width       : auto;
		margin-left : auto;
		gap         : var(--comment-list-data-gap-desktop);
	}

	.comment-edit-link {
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--secondary !optional;
	}

	.comment-reply-link {
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--link !optional;
	}
}

.comment-list__content {
	@include text-md-normal;
	color : var(--comment-list-content-color);
}


.comment-reply-title {
	@include text-xl-medium;
	display         : flex;
	align-items     : center;
	flex-flow       : row wrap;
	justify-content : flex-start;
	margin          : var(--comment-form-title-margin-mobile);
	color           : var(--comment-form-title-color);
	gap             : var(--comment-form-title-gap-mobile);

	#cancel-comment-reply-link {
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--link !optional;
	}

	@media screen and (min-width : $break-table) {
		margin : var(--comment-form-title-margin-table);
		gap    : var(--comment-form-title-gap-table);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--comment-form-title-margin-desktop);
		gap    : var(--comment-form-title-gap-desktop);
	}
}

.comment-form {
	@extend .form-grid;

	> p {
		&.comment-notes,
		&.logged-in-as {
			margin      : 0;
			grid-column : span 4;
			@include text-sm-medium;
		}

		label {

		}
	}

	.form-submit {
		[type="submit"] {
			@extend .b-btn !optional;
			@extend .b-btn--xl !optional;
			@extend .b-btn--primary !optional;
		}
	}
}

