@media screen and (max-width : $break-table-max) {
    .lang-panel__link {
        display : none;
    }

    .lang-panel__dropdown {
        ul {
            display       : inline-flex;
            border-radius : 60px;
            border        : 1px solid var(--base-white-10, rgba(255, 255, 255, 0.10));
            background    : var(--base-white-10, rgba(255, 255, 255, 0.10));
            padding       : 4px;
            gap           : 8px;
        }

        li {
            list-style : none;
            padding    : 6px 12px;
            @include text-xs-regular;
            color      : var(--violet-100, #E3E6FC);

            &.active {
                color         : var(--base-white);
                border-radius : 60px;
                background    : var(--violet-500, #7B6EE2);

                a {
                    color : var(--all-base-white);
                }
            }
        }
    }
}

@media screen and (min-width : $break-table) {
    .lang-panel {
        position : relative;
        display  : block;

        &.is-open .lang-panel__dropdown {
            display   : block;
            animation : dropdown-display .3s ease
        }
    }

    .lang-panel__link {
        font-size                   : 14px;
        font-weight                 : 500;
        line-height                 : 142%;
        display                     : flex;
        align-items                 : center;
        flex-flow                   : row nowrap;
        box-sizing                  : border-box;
        cursor                      : pointer;
        white-space                 : nowrap;
        text-transform              : capitalize;
        outline                     : 0;
        -webkit-tap-highlight-color : transparent;
        border-radius               : 80px;
        border                      : 1px solid var(--all-base-white-10, rgba(255, 255, 255, 0.10));
        background                  : var(--all-base-white-10, rgba(255, 255, 255, 0.10));
        padding                     : 4px 4px 4px 16px;
        width                       : 82px;
        height                      : 50px;
        color                       : var(--all-violet-200, #CDCFF8);
        gap                         : 11px;

        html[dir="rtl"] & {
            padding : 4px 16px 4px 4px;
        }

        > span {
            display : block;
        }

        svg {
            stroke : var(--all-violet-200);
        }
    }

    .lang-panel__dropdown {
        position         : absolute;
        z-index          : 199;
        top              : 100%;
        left             : 0;
        display          : none;
        box-sizing       : border-box;
        width            : 100px;
        margin-top       : 10px;
        padding          : 9px 6px;
        transform-origin : 0 0;
        border-radius    : 20px;
        border           : 1px solid var(--all-base-white-10, rgba(255, 255, 255, 0.10));
        background       : var(--all-base-white-10, rgba(255, 255, 255, 0.10));


        .lang-panel.is-active & {
            display   : block;
            animation : dropdown-display .4s ease;
        }

        ul {
            overflow-y                 : auto;
            max-height                 : 100%;
            margin                     : 0;
            padding                    : 0;
            list-style                 : none;
            -webkit-overflow-scrolling : touch;
            overscroll-behavior        : contain;
            scrollbar-width            : thin;

            &::-webkit-scrollbar-track {
                border-radius : 0;
                background    : #FFF;
            }

            &::-webkit-scrollbar {
                width      : 2px;
                background : #FFF;
            }


            &::-webkit-scrollbar-thumb {
                border           : none;
                border-radius    : 0;
                background-color : #131010;
            }

            .overflowscrolling & {
                overflow-y : scroll;
            }

            @media screen and (min-width : $break-desktop) {
                max-height : 274px;
            }

            a {
                font-size       : 15px;
                line-height     : 1.1;
                position        : relative;
                display         : block;
                padding         : 6px 12px;
                transition      : background-color .3s ease, color .3s ease;
                text-align      : left;
                text-decoration : none;
                border-bottom   : 0;
                background      : transparent;
                color           : var(--all-violet-200, #CDCFF8);

            }


            li {
                margin : 0;

                &:hover {
                    > a {
                        color : var(--base-white);
                    }
                }

                &.active {
                    a {
                        color : var(--base-white);
                    }
                }
            }
        }
    }
}

@keyframes dropdown-display {
    0% {
        opacity   : 0;
        transform : translateY(-15px);
    }
    100% {
        opacity   : 1;
        transform : translateY(0);
    }
}
