@at-root {
	:root {
		--site-navigation-margin      : 64px 0 0;
		--site-navigation-padding     : 20px 0 0;
		--site-navigation-border      : 1px solid var(--gray-200, #EAECF0);
		--site-navigation-gap-mobile  : 8px;
		--site-navigation-gap-table   : 8px;
		--site-navigation-gap-desktop : 8px;
	}
}

.site-navigation__wrapper {
	&:empty {
		display : none;
	}
}

.site-pagination,
.site-navigation {
	margin     : var(--site-navigation-margin);
	padding    : var(--site-navigation-padding);
	border-top : var(--site-navigation-border);
}

.page-numbers,
.nav-links {
	display         : flex;
	align-items     : flex-start;
	flex-flow       : row wrap;
	justify-content : space-between;
	margin          : 0;
	padding         : 0;
	list-style      : none;
	gap             : var(--site-navigation-gap-mobile);
	@media screen and (min-width : $break-table) {
		gap : var(--site-navigation-gap-table);
	}
	@media screen and (min-width : $break-desktop) {
		gap : var(--site-navigation-gap-desktop);
	}
	@media screen and (max-width : $break-table-max) {
		.nav-title {
			@include hide-seo;
		}
	}

	.site-pagination & {
		justify-content : center;
	}

	.page-numbers:not(.dots),
	a {
		text-align : left;
		@extend .b-btn !optional;
		@extend .b-btn--sm !optional;
		@extend .b-btn--secondary-grey !optional;

		&.current {
			color            : var(--btn-secondary-grey-color-active);
			border-color     : var(--btn-secondary-grey-border-active);
			background-color : var(--btn-secondary-grey-background-active);
			box-shadow       : var(--btn-secondary-grey-shadow-active);
		}
	}

	.page-numbers.dots {
		@extend .b-btn !optional;
		@extend .b-btn--link !optional;
		@extend .b-btn--sm !optional;
		cursor : default;
	}

	.nav-previous {
		> a {
			&::before {
				content         : "";
				width           : 20px;
				height          : 20px;
				background      : url("../images/icons/arrow-left.svg") no-repeat center;
				background-size : contain;
			}
		}
	}

	.nav-next {
		> a {
			&::after {
				content         : "";
				width           : 20px;
				height          : 20px;
				background      : url("../images/icons/arrow-right.svg") no-repeat center;
				background-size : contain;
			}
		}
	}
}

