@at-root {
	:root {
		--social-icon-gap : 5px;
	}
}

.s-block {
	display         : flex;
	align-items     : center;
	flex-flow       : row wrap;
	justify-content : flex-start;
	gap             : var(--social-icon-gap);

	&--header {
		flex : 0 0 auto;
	}

	a {

	}
}
