@at-root {
	:root {
		--widget-teams-slider-gap-mobile   : 4px;
		--widget-teams-slider-gap-tablet   : 8px;
		--widget-teams-slider-gap-desktop  : 12px;

		--widget-teams-slider-size-mobile  : 304px;
		--widget-teams-slider-size-tablet  : 344px;
		--widget-teams-slider-size-desktop : 384px;
	}
}

.widget-panels-slider {
	.swiper {
		overflow : visible;
		margin   : 0 calc(var(--widget-teams-slider-gap-mobile) * -1);
		@media screen and (min-width : $break-table) {
			margin : 0 calc(var(--widget-teams-slider-gap-tablet) * -1);
		}
		@media screen and (min-width : $break-desktop) {
			margin : 0 calc(var(--widget-teams-slider-gap-desktop) * -1);
		}
	}

	.swiper-wrapper {
		align-items : stretch;
	}

	.swiper-slide {
		box-sizing : border-box;
		width      : calc(var(--widget-teams-slider-size-mobile) + (var(--widget-teams-slider-gap-mobile) * 2));
		@media screen and (min-width : $break-table) {
			width : calc(var(--widget-teams-slider-size-tablet) + (var(--widget-teams-slider-gap-tablet) * 2));
		}
		@media screen and (min-width : $break-desktop) {
			width : calc(var(--widget-teams-slider-size-desktop) + (var(--widget-teams-slider-gap-desktop) * 2));
		}

		.widget-panels-item {
			box-sizing   : border-box;
			margin-right : var(--widget-teams-slider-gap-mobile);
			margin-left  : var(--widget-teams-slider-gap-mobile);
			@media screen and (min-width : $break-table) {
				margin-right : var(--widget-teams-slider-gap-tablet);
				margin-left  : var(--widget-teams-slider-gap-tablet);
			}
			@media screen and (min-width : $break-desktop) {
				margin-right : var(--widget-teams-slider-gap-desktop);
				margin-left  : var(--widget-teams-slider-gap-desktop);
			}
		}
	}
}
