.aside-menu {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	margin          : 0;
	padding         : 4px;
	border          : 1px solid var(--gray-100, #F2F4F7);
	border-radius   : 8px;
	background      : var(--gray-50, #F9FAFB);
	gap             : 4px;
}

.aside-menu__item {
	display : block;

	&:hover,
	&.active,
	&.is-active {
		> a {
			color      : var(--gray-700, #344054);
			background : var(--base-white, #FFF);
		}
	}

	&.active,
	&.is-active {
		> a {
			box-shadow : var(--shadow-sm);
		}
	}
}

.aside-menu__link {
	display         : block;
	padding         : 8px 12px;
	transition      : box-shadow .3s var(--easing), background .3s var(--easing), color .3s var(--easing);
	text-decoration : none;
	color           : var(--gray-500, #667085);
	border-radius   : 6px;
	gap             : 8px;
	@include text-sm-semibold;
}

