.main-menu__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    @media screen and (min-width : $break-table) {
      flex-direction: row;
        gap: 2px;
    }
}

.main-menu__item {
    list-style: none;
    padding-left: 0;
    &:last-child {
        .main-menu__link {
            &:after {
                content: '';
                width: 24px;
                height: 24px;
                display: inline-block;
                margin-left: 8px;
                background-position: top center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('../images/icons/circle.svg');
                vertical-align: middle;
                transform: translateY(-1px);
            }
        }
    }
}
.main-menu__link {
    color: var(--violet-200, #CDCFF8);
    @include display-xs-semibold;
    position: relative;
    @media screen and (min-width : $break-table) {
        display: inline-flex;
        align-items: center;
        @include text-sm-medium;
        color: var(--all-violet-200, #CDCFF8);
        min-height: 40px;
        border-radius: 80px;
        transition: color 0.3s, background-color 0.3s;
        padding: 4px 10px;
        white-space: nowrap;

        &:hover {
            color: var(--base-White, #FFF);
            background: var(--all-base-white-10, rgba(255, 255, 255, 0.10));
        }
    }
    @media screen and (min-width : $break-desktop) {
        padding: 4px 16px;
    }
}
