@at-root {
	:root {
		--widget-teams-grid-mobile                     : 24px;
		--widget-teams-grid-tablet                     : 24px;
		--widget-teams-grid-desktop                    : 24px;
		--widget-teams-grid-size-mobile                : 2;
		--widget-teams-grid-size-tablet                : 3;
		--widget-teams-grid-size-desktop               : 4;

		--widget-teams-grid-image-margin-mobile        : 0 0 16px;
		--widget-teams-grid-image-margin-tablet        : 0 0 24px;
		--widget-teams-grid-image-margin-desktop       : 0 0 24px;

		--widget-teams-grid-title-color                : var(--gray-900);

		--widget-teams-grid-post-color                 : var(--primary-700);
		--widget-teams-grid-post-margin-mobile         : 4px 0 0;
		--widget-teams-grid-post-margin-tablet         : 4px 0 0;
		--widget-teams-grid-post-margin-desktop        : 4px 0 0;

		--widget-teams-grid-description-color          : var(--gray-600);
		--widget-teams-grid-description-margin-mobile  : 10px 0 0;
		--widget-teams-grid-description-margin-tablet  : 12px 0 0;
		--widget-teams-grid-description-margin-desktop : 16px 0 0;

		--widget-teams-grid-links-color                : var(--gray-400);
		--widget-teams-grid-links-color-hover          : var(--primary-700);
		--widget-teams-grid-links-margin-mobile        : 16px 0 0;
		--widget-teams-grid-links-margin-tablet        : 18px 0 0;
		--widget-teams-grid-links-margin-desktop       : 24px 0 0;
		--widget-teams-grid-links-gap-mobile           : 14px;
		--widget-teams-grid-links-gap-tablet           : 16px;
		--widget-teams-grid-links-gap-desktop          : 20px;
	}
}

.widget-teams__grid {
	display               : grid;
	gap                   : var(--widget-teams-grid-mobile);
	grid-template-columns : repeat(var(--widget-teams-grid-size-mobile), 1fr);
	@media screen and (min-width : $break-table) {
		gap                   : var(--widget-teams-grid-tablet);
		grid-template-columns : repeat(var(--widget-teams-grid-size-tablet), 1fr);

	}
	@media screen and (min-width : $break-desktop) {
		gap                   : var(--widget-teams-grid-desktop);
		grid-template-columns : repeat(var(--widget-teams-grid-size-desktop), 1fr);
	}
}

.widget-teams__item {
	display         : flex;
	align-items     : stretch;
	flex-flow       : column nowrap;
	justify-content : flex-start;
}

.widget-teams__image {
	margin : var(--widget-teams-grid-image-margin-mobile);
	@media screen and (min-width : $break-table) {
		margin : var(--widget-teams-grid-image-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--widget-teams-grid-image-margin-desktop);
	}

	img {
		width          : 100%;
		vertical-align : top;
	}
}

.widget-teams__title {
	margin : 0;
	@include text-md-semibold;
	color  : var(--widget-teams-grid-title-color);
	@media screen and (min-width : $break-table) {
		@include text-xl-semibold;
	}
}

.widget-teams__post {
	@include text-sm-normal;
	margin : var(--widget-teams-grid-post-margin-mobile);
	color  : var(--widget-teams-grid-post-color);
	@media screen and (min-width : $break-table) {
		@include text-lg-normal;
		margin : var(--widget-teams-grid-post-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--widget-teams-grid-post-margin-desktop);
	}
}

.widget-teams__description {
	@include text-sm-normal;
	margin : var(--widget-teams-grid-description-margin-mobile);
	color  : var(--widget-teams-grid-description-color);
	@media screen and (min-width : $break-table) {
		@include text-md-normal;
		margin : var(--widget-teams-grid-description-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		margin : var(--widget-teams-grid-description-margin-desktop);
	}
}

.widget-teams__links {
	margin-top : auto;
	padding    : var(--widget-teams-grid-links-margin-mobile);
	@media screen and (min-width : $break-table) {
		padding : var(--widget-teams-grid-description-margin-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		padding : var(--widget-teams-grid-description-margin-desktop);
	}
}

.widget-teams-links {
	display         : flex;
	align-items     : center;
	flex-flow       : row wrap;
	justify-content : flex-start;
	color           : var(--widget-teams-grid-links-color);
	gap             : var(--widget-teams-grid-links-gap-mobile);
	@media screen and (min-width : $break-table) {
		gap : var(--widget-teams-grid-links-gap-tablet);
	}
	@media screen and (min-width : $break-desktop) {
		gap : var(--widget-teams-grid-links-gap-desktop);
	}
}

.widget-teams-links__item {
	display         : block;
	transition      : color .3s var(--easing);
	text-decoration : none;
	color           : var(--widget-teams-grid-links-color);

	&:hover {
		color : var(--widget-teams-grid-links-color-hover);
	}
}

.widget-teams-links__icon {
	display : block;
}
